* {
    /* outline: 1px solid tomato; */
}

:root {
    --pr-c: #05a2c7;
}

.inner {
    max-width: 1410px;
    margin: 0 auto;
}

.default .title h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    z-index: 2;
}

.default .title.w h2 {
    color: #fff;

}

.default .title p {
    margin-top: 16px;
    font-size: 15px;
    line-height: 24px;
}

.default .title.w p {
    color: #fff;
}